name: C++ CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y cmake g++ libgtest-dev

        # Build GoogleTest manually (it's header-only but needs libs)
        cd /usr/src/gtest
        sudo cmake CMakeLists.txt
        sudo make
        sudo cp lib/*.a /usr/lib

    - name: Build project
      run: |
        cd TaskManagerCLI
        mkdir -p build
        cd build
        cmake ..
        make

    - name: Run tests
      run: |
        cd TaskManagerCLI/build
        ctest --output-on-failure